:root {
    box-sizing: border-box;
    /*Applies border box sizing to the root element*/
}

*,
::before,
::after {
    box-sizing: inherit;
    /* Tells all other elements and pseudo-elements to inherit their box sizing */
}

html,
body {
    width: 100vw;
    margin: 0 auto;
    padding: 0;
    font-family: 'Inter Tight', sans-serif;
}

h3,
h4,
h5 {
    display: inline-block;
    margin: 0;
    padding: 0 0 0.5em;
}

/* ***************** */
/* Mobile Navigation */
/* ***************** */

nav {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100vw;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    gap: 0.25em;
    height: 80px;
    width: 100vw;
    list-style: none;
    margin: 0 auto;
    padding: 0 1.5em;
    background-color: #A5A1FF;
}

nav ul li {
    display: inline;
    height: auto;
    width: 5.75em;
    line-height: 5em;
    list-style: none;
    transition: background .5s;

}

nav ul li:hover {
    background: #f4f1de;
    cursor: pointer;
    transition: background .5s;
}

nav a {
    color: #1B1B1F;
    text-decoration: none;
}

/* *************** */
/* Welcome Section */
/* *************** */

#welcome-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    margin-top: 1em;
    padding: 0 1.5em 7em;
    background-color: #1B1B1F;
    color: #A5A1FF;
    align-items: stretch;
}

#welcome-section h1 {
    font-family: Archivo, sans-serif;
    font-size: 3em;
}

#welcome-section p {
    line-height: 1.5;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

.social {
    background-color: #A5A1FF;
    margin-bottom: 0; 
    padding-left: 0.5em;
}

.social img {
    width: 2em;
    margin: 0.5em 0.25em 0;  
}

/* ************* */
/* About Section */
/* ************* */

#about {
    height: auto;
    background-color: #f4f1de;
    padding: 0 1.5em 0;
}

#about h1 {
    font-family: Archivo, sans-serif;
    font-size: 2.5em;
    color: #1B1B1F;
    margin: 0 auto;
    padding: 1em 0 0.5em;
}

/* Skills Section */

#skills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hard-skills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    padding-bottom: 2em;
}

.coding {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 1em;
    padding-bottom: 2em;
}

.coding img,
.automation img {
    margin-bottom: 0.85em;
}

.markdown {
    position: relative;
    left: 0.7em;
    top: 0.3em;
}

.soft-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1em;
    margin-bottom: 2em;
}

#buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding-top: 0;
}

.skill-button {
    font-family: inherit;
    font-size: 1em;
    border-radius: 0;
    background-color: #1B1B1F;
    color: #f4f1de;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.25em 0.5em;
    margin:0;
    pointer-events: none;
    height: auto;
}

/* ***************** */
/* Portfolio Section */
/* ***************** */

#projects,
#contact {
    height: auto;
    background-color: #1B1B1F;
    color: #A5A1FF;
    padding: 0 2em;
}

#projects h1,
#contact h1 {
    font-family: Archivo, sans-serif;
    font-size: 2.5em;
    margin: 0 auto;
    padding: 1em 0 1em;
}

#projects h2,
#projects h3 {
    margin: 0 auto;
    padding: 0.25em 0;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.project-tile {
    display: flex;
    flex-wrap: wrap;
    background-color: #A5A1FF;
    color: #1B1B1F;
    padding: 0.5em;
}

/* creates an element that is the last child of .projects. Adds an empty element after the project-tile. Giving the same width as the otherproject-tiles pushes the last image to the left when the gallery is in a two-column layout.  */
.projects::after {
    content: "";
    width: 400px;    
}

.project-preview {
    height: auto;
    margin: 0 auto;
    background-color: #1B1B1F;
}

.project-preview img {
    width: 100%;
}

.project-description {
    margin-top: 0.25em;
}

.project-techicons {
    margin-top: 1.25em;
}

/* *************** */
/* Contact Section */
/* *************** */

form {
    display: flex;
    flex-direction: column;
    width: 75vw;
    max-width: 750px;
    margin: 0 auto;
    padding-bottom: 2em;
}

label {
    display: block;
    margin: 0.5em 0 0.25em;
}

input,
textarea {
    font-family: inherit;
    font-size: 1em;
    background-color: #f4f1de;
    width: 100%;
}

.contact p {
    margin: 0 auto;
    width: 75vw;
    max-width: 750px;
    font-style: italic;
    color: chartreuse;
}

/* ************** */
/* Footer Section */
/* ************** */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A5A1FF;
    height: 4em;
    padding: 0 2em;
}

.footer h1 {
    color: #1B1B1F;
}

/**********************************************/
/********* Devices Larger than 432px **********/
/**********************************************/

@media (min-width: 27em) {

    .project-tile {
        max-width: 25em;
        margin-top: 1em;
    }
}

/**********************************************/
/********* Devices Larger than 880px **********/
/**********************************************/


@media (min-width: 55em) {

    header {
        display: flex;
    }

    /* Navigation */

    nav ul {
        justify-content: flex-end;
        padding: 0 0.75em;
    }

    /* Welcome section */

    #welcome-section {
        margin-top: 5em;
        align-content: space-around;
    }

    #welcome-section h1 {
        font-size: 5em;
    }

    /* About  section */

    #skills {
        flex-direction: row;
        gap: 0;
        margin: 0 auto;
    }

    .hard-skills {
        width: fit-content;
        padding: 0 2em;
        margin-bottom: 2em;
    }

   .soft-skills {
        align-content: flex-start;
        width: fit-content;
        margin: 0 0 2em;
        padding: 0 2em;
    } 

    .soft-skills h3 {
        width: 100%;
    }

    .skill-button {
        padding: 0 0.75em;
        height: 2.5em;
    }

    /* Portfolio section */

    .projects {
        flex-wrap: wrap;
        /* max-width: auto; */
        gap: 1.5em;
    }

    .project-tile {
        flex-wrap: wrap;
        margin-top: 0;
    }

    .project-preview {
        width: 100%;
    }

    .project-description a {
        text-decoration: none;
        color: black;
        font-size: 0.9em;
    }

    form {
        width: 50vw;
    }

    .contact p {
        width: 50vw;
    }

}

/**********************************************/
/********* Devices Larger than 1440px **********/
/**********************************************/

@media (min-width: 90em) {
    #skills {
        margin: 0 auto;
        padding: 0 2em 0;
        max-width: 75vw;
        column-gap: 6em;
       
    }
}